@import '~office-ui-fabric-react/dist/sass/References.scss';

.appraisals {
    .container {
        max-width: 90vw;
        margin: 0px auto;
    }
}

.period {
    background-color: $ms-color-themeTertiary;
}
