@import '~office-ui-fabric-react/dist/sass/References.scss';

%baseContainer {
    background-color: '[theme: themeLight, default: #fbf4f4]';
    box-shadow: $ms-depth-shadow-4;
}

.container {
    @extend %baseContainer;
}

.feedbackContainer {
    @extend %baseContainer;
    padding: 1em;
    min-width: 900px;
    max-width: 1000px;
    margin-bottom: 1em;
}

.actionButton {
    background-color: '[theme: themeLighter, default: #fbf4f4]';
}

/* Style for appraisal items where button should be on the left */
.buttonLeft {
    & [data-element='input'] {
        order: 1;
    }
    & [data-element='button'] {
        order: 0;
    }
}

.peoplePicker {
    & [class*='ms-SelectionZone'] {
        display: flex;
        justify-content: center;
        margin-top: 0.7em;
    }

    & [class*='ms-PickerItem-removeButton'] {
        display: none;
    }
}

/*
Style for appraisal item goups, like goals or traini
It shoule be a little far away from each other
*/
.itemsGroup {
    min-width: 400px;

    &.simple {
        &:first-child {
            margin-right: 2em;
        }

        &:last-child {
            margin-left: 2em;
        }
    }

    &.bottom {
        margin-top: 1em;
    }

    .title {
        text-align: center;
        color: '[theme: neutralPrimary, default: #333333]';
    }
}
